@forward "common/libs";
@forward "common/function";

:root {
  --gray-color-text: #4a4a4a;
  --yellow-dark-color: #b19386;
  --footer-bg-color: #1c1d25;
  --light-text-color: #f3f3f3;
  --bg-body-color: #f3f3f3;
  --max-with-container: 95vw;
  --with-container: 1280px;
  --font-size-title: 32px;
  --font-size-navigation: 16px;
  --font-size-header-title: 30px;
  --table-small: 670px;
  --header-height: 90px;
  color-scheme: light;
}

body {
  font-weight: 400;
  font-family: var(--Ubuntu);
  color: var(--gray-color-text);
  background-color: var(--bg-body-color);
  user-select: none;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 10px;
  }
}

// .dark {
//   color-scheme: dark;
// }
