.homeTechnologies {
  width: var(--with-container);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-block: 60px;
  position: relative;
  max-width: var(--max-with-container);
}

.titleText {
  font-size: var(--font-size-title-section);
  position: relative;

  @media (max-width: 760px) {
    font-size: 40px;
  }
}

// @keyframes titleAnimation {
//   0% {
//     top: 50px;
//   }
//   100% {
//     top: 0;
//   }
// }
//
// @keyframes technologiesTitleAnimation {
//   0% {
//     opacity: 0.3;
//     left: -50px;
//   }
//   100% {
//     left: 0;
//   }
// }
