.headerSection {
  height: var(--header-height);
  min-height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: var(--max-with-container);
  width: var(--with-container);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: sticky;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg-body-color);
  z-index: 100;
}

.headerSectionTitle {
  font-size: var(--font-size-header-title);
  font-weight: 500;
}
