.headerSection {
  height: 90px;
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: var(--max-with-container);
  width: var(--with-container);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 1px solid gray;
}

.headerSectionTitle {
  font-size: var(--font-size-header-title);
  font-weight: 500;
}
