.headerNavigate {
  @media (max-width: 670px) {
    display: none;
  }
}

.headerNavList {
  display: flex;
  column-gap: 30px;
}

.headerNavItem {
  font-size: var(--font-size-navigation);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}
